.container{
    top:0;
    left:0;
    position:absolute;
    background-image: url(./garnishing.jpg);
    width:100%;
    height:100%;
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.black{
    top:0;
    left:0;
    position: absolute;
    opacity:0.7;
    background:black;
    width:100%;
    height:100%;
}
.top_menu{
    width:100%;
    top:0;
    left:0;
    position: absolute;
    background:black;
    height:100px;
}
.top_menu div{
    cursor: default;
    display:flex;
    color:white;
    padding:15px;
}
.icon{
    margin:20px;
    margin-top:4px;
    color:rgb(141, 118, 91);
}
.left{
    font-weight: bolder;
    font-size:50px;
    margin-left: 300px;
    float:left;
    cursor: pointer;
}
.middle{
    float:left;
    font-size:28px;
    margin-left:200px;
}
.middle div{
    color:gray;
    cursor:pointer;
    margin:5px;
}
.icn{
    color:gray;
    margin:10px;
    margin-top:2px;
}
.middle{
    font-size:24px;
    display:flex;
    margin-left:30px;
    font-family: 'Roboto Condensed', sans-serif;
}
.right i{
    font-size:30px;
    margin-left:20px;
    display:flex;
    float:left;
    padding:20px;
    cursor: pointer;
}
.extreme_right{
    float:left;
    background:rgb(235, 180, 113);
    border-radius:10px;
    margin-left:80%;
    margin-top:-80px;
    padding:5px;
    font-size:24px;
    cursor: pointer;
}
.extreme_right i{
    margin-right:10px;
}
.box div{
    color:rgb(255, 255, 255);
    padding:400px;
    position: relative;
}
.box i{
    font-size:100px;
    margin-left:50%;
}
.title{
    font-size:100px;
    margin-top:-250px;
    font-weight: bolder;
    width:100%;
    font-family: 'Roboto', sans-serif;
}
.intro{
    font-size:70px;
    margin-top:-750px;
    margin-left:70px;
    width:700px;
}
.intro2{
    font-size:70px;
    margin-top:-780px;
    margin-left:150px;
    width:700px;
    cursor: default;
}
.second_slide{
    background: rgb(234, 240, 247);
    position: absolute;
    width:100%;
    height:1000px;
    margin-top:-570px;
    left:0;
    cursor: default;
}
.text2{
    width:55%;
    padding:100px;
    font-family: 'Roboto', sans-serif;

}
.welcome{
    font-size:24px;
}
.welcome2{
    color:rgb(165, 157, 120);
    font-size:32px;
    margin-top:10px;
    margin-bottom: 20px;
}
.details{
    font-size:28px;
    margin-bottom:50px;
}
.icn1{
    /* width:20px;
    height:20px; */
    padding:30px;
    text-align: center;
    background:rgb(165, 157, 120);
    font-size:50px;
    border-radius:50%;
    cursor: pointer;
    display:flex;
    margin-top:50px;
    color:white;
}
.options{
    font-size: 24px;
    margin-top:30px;
}
.headings{
    font-weight: bold; 
    margin-left:200px;
    margin-top:-70px
}
.dummy{
    margin-left:200px;
    margin-top:10px;
    color:gray;
}
.image{
    margin-left:95%;
    padding:100px;
    width:600px;
    height:400px;
    background-image: url(./chef.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: -600px;
    background-size: cover;
}
.third_slide{
    background: rgb(13, 15, 12);
    position: absolute;
    width:95.5%;
    height:1000px;
    margin-top:430px;
    left:0;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    opacity:0.9;
    padding:50px;
}
.welcome3{
    font-size:24px;
    margin-left:49%;
    color:white;
    margin-top:100px;

}
.welcome21{
    margin-left: 49%;
    font-weight: bold;
    color:white;
    font-size: 42px;
}
.details3{
    color:gray;
    margin-left:40%;
    font-size: 28px;
}
.details21{
    margin-left:-30px;
    font-size:28px;
    color:gray;
}
.dishes{
    margin-top:100px;
    margin-left:300px;
    height:1000px;
    width:1700px;
    display:grid;
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows: 30%  30%;
    text-align: center;
    position: absolute;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;

}
.dish_detail{
    color:gray;
    font-size: 24px;
    margin-top:30px;
}
.dish_detail1{
    color:gray;
    font-size:24px;
    margin-top:30px;
}
.dish_detail2{
    color:gray;
    margin-top:30px;
    font-size:24px;
}
.dish_detail3{
    color:gray;
    margin-top:30px;
    font-size:24px;
}
.one{
    grid-row:1;
    grid-column:1;
    background-size: contain;
    background-image: url(./dish.jpg);
    background-size: cover;
}

.two{
    grid-row:2;
    color:white;
    font-size:32px;
    grid-column: 1;
    background: rgb(0, 0, 0);
    padding:40px;
}
.three{
font-size:32px;
color:white;
font-family: 'Roboto', sans-serif;
grid-row:1;
grid-column:2;
background:black;
padding:40px;
}
.four{
    grid-row:2;
    grid-column:2;
    background-image: url(./dish1.jpg);
    margin-top:-20px;
    background-size: cover;
}
.five{
    grid-row: 1;
    grid-column:3;
    font-size:32px;
    padding:40px;
    color:white;
    background:black;
}
.six{
    background:black;
    opacity:0.9;
    grid-row:2;
    background: rgb(13, 15, 12);
    grid-column: 3;
}
.seven{
    grid-row: 1;
    padding:40px;
    grid-column: 4;
    color:white;
    background:black;
    font-size:28px;
}
.eight{
    grid-row: 2;
    grid-column: 4;
    margin-top:-20px;
    background-image: url(./dish2.jpg);
    background-size: cover;

}
.fourth_slide{
    background:rgb(250, 247, 236);
    width:93%;
    height:700px;
    font-family: 'Roboto', sans-serif;
    left:0;
    position: absolute;
    margin-top:67%;
    padding:80px;
}
.fourth_welcome{
    margin-left:43%;
    cursor: default;
    font-size:26px;
}
.fourth_why{
    color:rgb(165, 157, 120);
    font-size:50px;
    margin-left:40%;
    /* margin-top:50px; */
    margin-bottom:50px;
    font-weight: bold;
    cursor: default;
}
.fourth_details{
    margin-left:15%;
    font-size:26px;
    color:gray;
    cursor: default;
}
.fourth_menu{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top:200px;
}
.coffee{
    font-size:100px;
    color:rgb(62, 71, 62);
    margin-left:43%;
}

.d4txt{
    text-align: center;
    margin-top:10px;
    font-weight: bold;
    font-size:20px;
    cursor: default;
}
.details41{
    font-size:26px;
    color:gray;
    cursor: default;
}
.details42{
    font-size:26px;
    cursor: default;
    color:gray;
}
.details43{   font-size:26px;
    cursor: default;
    color:gray;
}
.details44{
    font-size:26px;
    color:gray;
    cursor: default;
}
.fifth_slide{
    background:rgb(253, 240, 211);
    width:82.25%;
    height:1000px;
    left:0;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    cursor:default;
    margin-top:100%;
    padding:200px;
}
.fifth_welcome{
    margin-left:50%;
    font-weight: bold;
    font-size:26px;
    margin-bottom:10px;
}
.fifth_popular{
    font-size:40px;
    font-weight: bold;
    color:rgb(165, 157, 120);
    margin-left:47.5%;
}
.fifth_details{
    margin-left:10%;
    font-size:30px;
    margin-bottom: 100px;
    margin-top:50px;
}
.fifth_menu{
    display:grid;
    margin-top:-50px;
    grid-template-columns: 50% 50%;
    margin-left:250px;
    grid-template-rows: 33% 33% 34%;

}
.d5details{
    color:gray;
    font-size:26px;
    float:left;
}
.div51{
    font-weight:bold;
    font-size:30px;
    margin-bottom:10px;
    cursor: pointer;
    grid-row:1;
    grid-column:1;
    
}
.div52{
    font-weight:bold;
    font-size:30px;
    margin-bottom:10px;
    grid-row:2;
    grid-column: 1;
    cursor: pointer;

}
.div53{
    font-weight:bold;
    font-size:30px;
    grid-row:3;
    grid-column: 1;
    margin-bottom:10px;
    cursor: pointer;

}
.div54{    font-weight:bold;
    cursor: pointer;
    font-size:30px;
    margin-bottom:10px;
}
.div55{    font-weight:bold;
    cursor: pointer;
    font-size:30px;
    margin-bottom:10px;
}
.div56{    font-weight:bold;
    font-size:30px;
    cursor: pointer;
    margin-bottom:10px;
}
.fifth_menu img{
    width:200px;
    height:200px;
    cursor: pointer;
    border-radius:50%;
}
.sixth_slide{
    background:rgb(250, 247, 236);
    left:0;
    margin-top:162%;
    position: absolute;
    padding:100px;
    cursor:default;
    width:91.25%;
    font-family: 'Roboto', sans-serif;

    height:900px;
}.sixth_welcome{
    margin-left:46%;
    font-size:26px;
    font-weight: bold;
    /* margin-top:200px; */
    margin-bottom: 50px;
}
.sixth_blog{
    font-size:40px;
    font-weight: bold;
    color:rgb(165, 157, 120);
    margin-left:47.5%;
}
.sixth_details{
    margin-left:10%;
    font-size:30px;
    margin-bottom: 100px;
    margin-top:50px;
}
.sixth_menu{
    display:grid;
    grid-template-rows:100% ;
    grid-template-columns:50% 50%;
    margin-left:200px;
}
.photo{
    font-size:52px;
    border-radius:50%;
    width:50px;
    height:50px;
    background:rgb(165, 157, 120);
    text-align:center;
    padding:20px;
    margin-right:50px;
    cursor:pointer;
    margin-bottom:30px;
}
.fifth_heading{
    font-weight: bold;
    font-size: 40px;
    margin-left:140px;
}
.details5{
    font-size:28px;
    font-weight: normal;

}.seventh_slide{
    background: rgb(165, 157, 120);
    width:96%;
    height:400px;
    display:flex;
    cursor: default;
    padding:100px;
    margin-top:209%;
    margin-left:-100px;
}
.details7{
    width: 600px;
    height:250px;
    color:gray;
    font-size:28px;
    display: flex;
    position:absolute;
    margin-left:100px;
    margin-top:100px;
}
.end_icon{
    font-size:60px;
    color:bisque;
    margin-right:30px;
    margin-top:5%;
    display: flex;
    margin-left:42%;
}
.end_text{
    font-size:60px;
    color:white;
    font-weight: bold;
}
.end_photos{
    height:100px;
    display:flex;
    margin-left:25%;
    margin-top:5%;
}
.end_photos img{
    border-radius: 25px;
    width:100px;
    margin: 10px;
}
.eigth_slide{
    background:black;
    width:91.25%;
    height:100px;
    color:white;
    position:absolute;
    left:0;
    padding:100px;
    font-size:18px;
    display: flex;
    cursor: default;
}

.r{
    display:flex;
    margin-left:50%;
    cursor: pointer;
}
.eigth_slide i{
    margin:5px;
}